.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
	margin-bottom: 15px;
	border: 1px solid #909497;

}

.video-item img {
	max-width: 64px;
}

.video-detail {
	width: 60%;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid gray;

}

.list-group-item {
	cursor: pointer;
	border: none;
	margin-bottom: 2px;
	padding: .20rem 1.00rem;
}

.list-group-item:hover {
	background-color: #eee;
}
